@use "../../../styles/variables" as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  .app-item-list__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .app-item-list__loading,
  .app-item-list__empty {
    text-align: center;
    font-size: 1.25rem;
    color: $text-color;
  }
}
