// Color Variables
$primary-color: #9bc4cb;
$secondary-color: #dbefbc;
$background-color: #f4f7f6;
$text-color: #343a40;
$navbar-background-color: #5f634f;
$footer-background-color: #e2fadb;
$card-background-color: #cfebdf;

// Font Variables
$font-family-base: "Poppins", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;
