<div class="app-recipe-card">
    <div class="app-recipe-card__image-container">
        <img class="app-recipe-card__image" [src]="recipe().strMealThumb" [alt]="recipe().strMeal" />
        <button class="app-recipe-card__favorite" (click)="triggerFavorite.emit(recipe())" aria-label="Toggle favorite">
            <i [class]="recipe().isFavorite ? 'fas fa-heart' : 'far fa-heart'"></i>
        </button>
    </div>

    <div class="app-recipe-card__content">
        <h2 class="app-recipe-card__title">{{ recipe().strMeal }}</h2>
        <div class="app-recipe-card__chips">
            <span class="app-recipe-card__chip">{{ recipe().strCategory }}</span>
            <span class="app-recipe-card__chip">{{ recipe().strArea }}</span>
        </div>
        <p class="app-recipe-card__description">
            {{ recipe().strInstructions | slice: 0:100 }}...
        </p>
    </div>
    <app-button text=" View Recipe" buttonType="danger" [ariaLabel]="'View the recipe details'"
        (onClick)="viewDetails.emit()"></app-button>
</div>