<nav class="app-nav">
  <img src="assets/images/logo/logo.png" alt="Item Manager" class="app-nav__logo" />
  <button class="app-nav__button" (click)="openFavoritesModal()">
    Favorites
  </button>
</nav>
<header class="app-header">
  <h1 class="app-header__title">Welcome to the Recipe Finder!</h1>
  <h2 class="app-header__subtitle">
    Discover and save your favorite recipes.
  </h2>
</header>
<main class="app-container">
  <app-favorites [isOpen]="isFavoritesModalOpen()" (closeModal)="openFavoritesModal()"></app-favorites>
  <router-outlet></router-outlet>
</main>
<footer class="app-footer">
  <p class="app-footer__text">© 2025 Recipe Finder</p>
</footer>