@use "styles/variables" as *;

/* Base Styles */
html,
body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  background-color: $background-color;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
  line-height: $line-height-base;
}
