@if(isOpen()) {
<div class="favorites" tabindex="-1" role="dialog" aria-labelledby="favoritesModalLabel" aria-hidden="true">
    <div class="favorites__dialog">
        <div class="favorites__content">
            <header class="favorites__header">
                <h5 class="favorites__title" id="favoritesModalLabel">Favorites</h5>
                <button type="button" class="favorites__close" aria-label="Close" (click)="closeModal.emit()">
                    &times;
                </button>
            </header>
            <div class="favorites__body">
                @for (item of favorites$ | async; track $index) {
                <div class="favorites__item">
                    <img [src]="item.strMealThumb" alt="{{ item.strMeal }}" class="favorites__item-image" />
                    <div class="favorites__item-details">
                        <span class="favorites__item-title">{{ item.strMeal }}</span>
                        <div class="favorites__actions">
                            <button class="favorites__button favorites__button--remove"
                                (click)="onDeleteFavorites(item)">
                                Remove
                            </button>
                            <button class="favorites__button favorites__button--view"
                                (click)="onViewRecipeDetails(item.idMeal)">
                                View Recipe
                            </button>
                        </div>
                    </div>
                </div>
                } @empty {
                <div class="favorites__empty">No favorites added.</div>
                }
            </div>
        </div>
    </div>
</div>
}