@if (isOpen()) {
<div class="favorites" tabindex="-1" role="dialog" aria-labelledby="favoritesModalLabel"
    [attr.aria-hidden]="!isOpen() ? 'true' : null" [inert]="!isOpen() ? true : null">
    <div class="favorites__dialog">
        <div class="favorites__content">
            <header class="favorites__header">
                <h5 class="favorites__title" id="favoritesModalLabel">Favorites</h5>
                <button type="button" class="favorites__close" aria-label="Close" (click)="closeModal.emit()"
                    #closeButton>
                    &times;
                </button>
            </header>
            <div class="favorites__body">
                @for (item of favorites$ | async; track $index) {
                <div class="favorites__item">
                    <img [src]="item.strMealThumb" alt="{{ item.strMeal }}" class="favorites__item-image" />
                    <div class="favorites__item-details">
                        <span class="favorites__item-title">{{ item.strMeal }}</span>
                        <div class="favorites__actions">
                            <app-button text="Remove" buttonType="secondary" ariaLabel="Remove recipe from favorites"
                                (onClick)="onDeleteFavorites(item)"></app-button>

                            <app-button text="View Recipe" buttonType="primary" ariaLabel="View Recipe"
                                (onClick)="onViewRecipeDetails(item.idMeal)"></app-button>
                        </div>
                    </div>
                </div>
                } @empty {
                <div class="favorites__empty">No favorites added.</div>
                }
            </div>
        </div>
    </div>
</div>
}